/* Общий файл стилей, вначале подключаются файлы других стилей */

@import "title.css"; /* Две первые страницы: титульна и аннотация */
@import "typography.css"; /* Типография */
@import "images.css"; /* Изображения */
@import "tables.css"; /* Таблицы */
@import "lists.css"; /* Списки */
@import "special.css"; /* Стили, которые кроме как в этом учебнике не нужны будут */
@import "layout.css"; /* Разметка страницы */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font: normal normal 14pt/1.1 'Times New Roman', 'Times', serif;
	color: #000;
	text-align: justify;
	overflow-x: hidden;
}

hr {
	margin: 16px 0;
}

a {
	color: #006400;
	text-decoration: none;
	transition: all 0.3s;
}

a:hover {
	color: #6a5acd;
	text-decoration: underline;
}
