/* Типография */

p {
	text-indent: 40px;
	margin: 2px 0 0;
}

sup {
	font-size: 55%;
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
	margin: 5px 0;
}

h1 {
	line-height: 1.5;
}

h2 {
	line-height: 1.2;
}

h3,
h4 {
	line-height: 1;
}

h1,
h2 {
	font-size: 20pt;
	text-align: center;
}

h3 {
	text-align: center;
	margin: 15px 0 5px;
	font-size: 16pt;
}

h4 {
	text-align: left;
	margin: 15px 0 5px;
	text-indent: 40px;
	font-size: 14pt;
}

.center {
	text-align: center;
	text-indent: 0;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.uppercase {
	text-transform: uppercase;
}

.isbn {
	font-style: italic;
	font-weight: bold;
}

.grif-line {
	text-align: center;
	text-decoration: underline;
	font-size: 12pt;
}

.recomend {
	text-align: center;
	font-style: italic;
	font-size: 12pt;
}

.small {
	font-size: 12pt;
}

.bold {
	font-weight: bold;
}

.long-word {
	font-size: clamp(8px, 4vw, 21px);
	word-wrap: break-word;
}

@media screen and (max-width: 800px) {
	p {
		text-indent: 30px;
	}

	li,
	p,
	a {
		font-size: 12px;
	}

	h1,
	h2 {
		font-size: 16pt;
		text-align: center;
	}

	h3 {
		text-align: center;
		margin: 15px 0 5px;
		font-size: 14pt;
	}

	h4 {
		text-align: left;
		margin: 15px 0 5px;
		text-indent: 40px;
		font-size: 12pt;
	}

	.grif-line {
		text-align: center;
		text-decoration: underline;
		font-size: 9pt;
	}

	.recomend {
		text-align: center;
		font-style: italic;
		font-size: 9pt;
	}

	.small {
		font-size: 9pt;
	}
}