/* Стили неизвестного предназначения */

#tema1 {
	/* прописные буквы по центру, жирное начертание*/
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-indent: 0px;
	text-decoration: underline;
	margin-top: 20px;
}

#tema2 {
	/* прописные буквы по центру, жирное начертание*/
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
	text-indent: 0px;
}

#tema3 {
	/* прописные буквы выравнивание слева, жирное начертание*/
	font-size: 14pt;
	font-weight: bold;
	margin-top: 20px;
	text-transform: uppercase;
	text-indent: 80px;
}

#tema4 {
	/* прописные буквы по центру, нежирные*/
	font-size: 14pt;
	margin-top: 20px;
	text-indent: 0px;
	text-transform: uppercase;
	text-align: center;
}
